<div class="table-responsive">
  <table class="table table-stripped table-sm">
	<thead>
	  <tr>
		<th></th>
		<th>Temperature</th>
		<th>Humidity</th>
		<th>Wind</th>
		<th>Visible Light</th>
		<th>UV Light</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th>Target</th>
		<td>{{stateB==null?displayValue(stateA.Temperature):(displayValue(stateA.Temperature)+' ↦ '+displayValue(stateB.Temperature))}}</td>
		<td>{{stateB==null?displayValue(stateA.Humidity):(displayValue(stateA.Humidity)+' ↦ '+displayValue(stateB.Humidity))}}</td>
		<td>{{stateB==null?displayValue(stateA.Wind):(displayValue(stateA.Wind)+' ↦ '+displayValue(stateB.Wind))}}</td>
		<td>{{stateB==null?displayValue(stateA.VisibleLight):(displayValue(stateA.VisibleLight)+' ↦ '+displayValue(stateB.VisibleLight))}}</td>
		<td>{{stateB==null?displayValue(stateA.UVLight):(displayValue(stateA.UVLight)+' ↦ '+displayValue(stateB.UVLight))}}</td>
	  </tr>
	  <tr *ngIf="displayCurrent == true" >
		<th>Current</th>
		<td>{{currentTemperature | number:'2.2-2'}}</td>
		<td>{{currentHumidity | number:'2.2-2'}}</td>
		<td> n.a. </td>
		<td> n.a. </td>
		<td> n.a. </td>
	  </tr>
	</tbody>
  </table>
</div>
