<div class="table-responsive">
  <table class="table table-stripped table-sm">
	<thead>
	  <tr>
		<th>Temperature</th>
		<th>Humidity</th>
		<th>Wind</th>
		<th>Visible Light</th>
		<th>UV Light</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>{{state.Temperature <= -1000.0?'n.a.':(state.Temperature | number:'2.2-2')}}</td>
        <td>{{state.Humidity <= -1000.0?'n.a.':(state.Humidity | number:'2.2-2')}}</td>
        <td>{{state.Wind <= -1000.0?'n.a.':(state.Wind | number:'1.1-1')}}</td>
        <td>{{state.VisibleLight <= -1000.0?'n.a.':(state.VisibleLight | number:'1.1-1')}}</td>
        <td>{{state.UVLight <= -1000.0?'n.a.':(state.UVLight | number:'1.1-1')}}</td>
	  </tr>
	</tbody>
  </table>
</div>
